@rendermode InteractiveServer
@using InteractiveTyingGameBlazor.Models;
@using InteractiveTyingGameBlazor.Chat;
@inject PublicChatService _chatService;
@inject IJSRuntime JSRuntime;
@inherits Common;

<script src="js/disposeInterop.js"></script>

<div class="chat-container">
    <div class="chat-messages chat-component" @ref="chatMessagesContainer">
    @foreach(var message in messages)
    {
        <div style="color: @message.Color">
            @message.ToString()
        </div>
    }
    </div>
    <input class="chat-input chat-component" type="text" @bind="@textMessage" @onkeyup="@HandleKeyUp" placeholder="Type your message here..." />
</div>

@code {
    private List<PublicMessage> messages = [];
    private string textMessage = string.Empty;
    private ElementReference chatMessagesContainer;
    private Random random = new Random();

    private async Task HandleKeyUp(KeyboardEventArgs e) 
    {
        if (e.Key == "Enter") {
            await SendMessage();
        }
    }

    private string GetRandomColor()
        => $"#{random.Next(0x1000000):X6}";

    private async Task SendMessage()
    {
        var message = new PublicMessage(textMessage, userName, GetRandomColor());
        _chatService.AddMessage(message);
        textMessage = string.Empty;
        await _chatService.UpdateChatAsync();
    }

    private async Task Update()
    {
        messages = _chatService.Messages;
        await ScrollToBottom();
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _chatService.UpdateAsync += Update;
        messages = _chatService.Messages;
    }

    public void DisposeAsync()
        => _chatService.UpdateAsync -= Update;

    private async Task ScrollToBottom()
        => await JSRuntime.InvokeVoidAsync("scrollToBottom", chatMessagesContainer);
}